{% extends 'layout.html' %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-top-4">
        Check your answers before sending your referral to the Crisis Team
      </h1>

      <h2>
        Personal details
      </h2>

      <p>Consent: {{ data['have-consent'] }} <a href="gp-consent" alt="change">Change</a></p>
      <p>Registered doctor: {{ data['list'] }} <a href="gp-registered-doctors-list" alt="change"> Change</a></p>
      <p>Needs help with: {{ data['support-needs'] }} <a href="gp-support-needs" alt="change"> Change</a></p>
      <hr />

      <p>First name: {{ data['first-name'] }}</p>
      <p>Middle name: {{ data['middle-name'] }}</p>
      <p>Surname: {{ data['surname'] }}</p>
      <p>Address: {{ data['address-postcode'] }}</p>
      <p>Date of birth: {{ data['day'] }}</p>
      <p>Phone number: {{ data['contact-number'] }}</p>
      
      <p><a href="gp-form" alt="change">Change</a></p>
      
      <hr / >
      
      <p>Ethnicity: {{ data['ethnicity'] }}</p>
      <p>School: {{ data['school'] }}</p>
      
      <p><a href="gp-form-2" alt="change">Change</a></p>

      <hr />

      <h2>
        Family members
      </h2>
      <p>Person 1 name: {{ data['person-one-name'] }}</p>
      <p>Relationship {{ data['person-one-relationship'] }}</p>
      <p>Date of birth {{ data['person-one-relationship'] }}</p>
      <p>School {{ data['person-one-relationship'] }}</p>

      <p><a href="gp-form-2" alt="change">Change</a></p>

      <hr />

      <h2>
        Now send your referral
      </h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <p>
        Your details with be sent to Rose Medical Practice to begin your registration.
      </p>

      <a href="/templates/confirmation-page" class="nhsuk-button">
        Accept and send referral
      </a>

    </div>
  </div>
{% endblock %}
