{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 7/11</p>

      <h1>Support with eating disorders</h1>
      <p>Copy to go here...</p>

      {{ button({
        "href": "/gp-form",
        "text": "Save and continue"
      }) }}

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
