{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 6/10</p>

      <h1>Support with eating disorders</h1>

      {% from 'input/macro.njk' import input %}

      {{ input({
        "label": {
          "text": "What is your height?"
        },
        "id": "height",
        "name": "hight"
      }) }}


      {{ input({
        "label": {
          "text": "What is your weight?"
        },
        "id": "weight",
        "name": "weight"
      }) }}

      {{ button({
        "href": "/gp-form",
        "text": "Save and continue"
      }) }}

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
