{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 8/11</p>

      <form action="/gp-form-2" method="get">

      {% from 'fieldset/macro.njk' import fieldset %}
      {% from "input/macro.njk" import input %}

      {% call fieldset({
        legend: {
          "text": "Patient details",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
      }) %}

        {{ input({
          label: {
            "text": "Legal status"
          },
          "classes": "nhsuk-u-width-two-thirds",
          "id": "legal-status",
          "name": "legal-status"
        }) }}

        {{ input({
          label: {
            "text": "First name"
          },
          "classes": "nhsuk-u-width-two-thirds",
          "id": "first-name",
          "name": "first-name"
        }) }}
        
        {{ input({
          label: {
            "text": "Middle name"
          },
          "classes": "nhsuk-u-width-two-thirds",
          "id": "middle-name",
          "name": "middle-name"
        }) }}

        {{ input({
          label: {
            "text": "Surname"
          },
          "classes": "nhsuk-u-width-two-thirds",
          "id": "surname",
          "name": "surname"
        }) }}

        {{ input({
          label: {
            "text": "Postcode"
          },
          "classes": "nhsuk-input--width-10",
          "id": "address-postcode",
          "name": "address-postcode"
        }) }}

        {{ input({
          label: {
            "html": 'Contact number'
          },
          "classes": "nhsuk-u-width-two-thirds",
          "id": "contact-number",
          "name": "contact-number"
        }) }}

      {% endcall %}

      {% from 'date-input/macro.njk' import dateInput %}

      {{ dateInput({
        "id": "example",
        "namePrefix": "example",
        "fieldset": {
          "legend": {
            "text": "What is their date of birth?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          }
        },
        "hint": {
          "text": "For example, 15 3 1984"
        },
        "items": [
          {
            "name": "day",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "month",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "year",
            "classes": "nhsuk-input--width-4"
          }
        ]
      }) }}

      <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>

      </form>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
