{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 4/10</p>

      <!--<h2>Registered doctor</h2>

      <p>Enter a postcode below to find the young person's doctor's surgery.</p>-->

      <form action="/gp-list" method="post">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "Please enter the postcode of the registered doctor",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "id": "example-heading",
          "name": "example-heading"
        }) }}

      {% from 'button/macro.njk' import button %}

      {{ button({
        "href": "/yp-registered-doctors-list",
        "text": "Search doctors"
      }) }}

      {% from 'radios/macro.njk' import radios %}

      {{ radios({
        "idPrefix": "list",
        "name": "list",
        "fieldset": {
          "legend": {
            "text": "Results",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "Doctor 1, address",
            "text": "Doctor 1, address"
          },
          {
            "value": "Doctor 2, address",
            "text": "Doctor 2, address"
          }
        ]
        }) }}


        <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>

      </form>

      <br />

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
