{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 5/10</p>

      <form action="/gp-under18" method="post">

        {% from 'date-input/macro.njk' import dateInput %}

        {{ dateInput({
          "id": "example",
          "namePrefix": "example",
          "fieldset": {
            "legend": {
              "text": "What is their date of birth?",
              "classes": "nhsuk-label--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "For example, 15 3 1984"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}
        <br />
        <h2>If the young person is over 18</h2>
        <p>Unfortunately we cannot accept referrals from young people over 18 years of age. Please contact 111 or <a href="https://www.nhs.uk/service-search/other-services/Child%20and%20adolescent%20mental%20health%20services%20(CAMHS)/LocationSearch/2157" alt="find your local child and adolescent mental health service">click here</a> to find you local CAMHS team</p> 

        {{ button({
        "href": "/gp-support-needs",
        "text": "Save and continue"
      }) }}

      </form>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
