{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Make a referral to the Liverpool Children's and Adolcesnts Mental Health Service
      </h1>

      <p>
        Use this service to: Create an online referral to Liverpool Children's and Adolescents Mental Health Service for yourself or on behalf of a young person.
      </p>

      <ul>
        <li>
          Assess if you need to access the service
        </li>
        <li>
          Make a referral
        </li>
        <li>
          Receive advice
        </li>
      </ul>

      <p>It will take roughly [2 minutes] to fill this out</p>

      <h2>You will need:</h2>
      <ul>
        <li>Line one</li>
        <li>Line two</li>
      </ul>

      <a href="/whoareyou" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
