{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/whoareyou" method="post">

        {% call fieldset({
          legend: {
            text: "I am a...",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "who",
          "name": "who",
          "items": [
            {
              "value": "Young Person",
              "text": "Young Person"
            },
            {
              "value": "Professional",
              "text": "Professional"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Save and continue"
        }) }}

      </form>

        {{ backLink({
          "href": "javascript:history.back()",
          "text": "back"
        }) }}

<!--

        {% from 'select/macro.njk' import select %}

        {{ select({
          "id": "select-1",
          "name": "select-1",
          "label": {
            "text": "Label text goes here"
          },
          "items": [
            {
              "value": 1,
              "text": "NHS.UK frontend option 1"
            },
            {
              "value": 2,
              "text": "NHS.UK frontend option 2",
              "selected": true
            },
            {
              "value": 3,
              "text": "NHS.UK frontend option 3",
              "disabled": true
            }
          ]
          }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>
-->

    </div>
  </div>

{% endblock %}
