{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Step 5/12</p>

      <form action="/contact-carer" method="post">

        {% from 'radios/macro.njk' import radios %}
        {% from 'fieldset/macro.njk' import fieldset %}
        {% from 'hint/macro.njk' import hint %}

        {% call fieldset({
          legend: {
            "text": "Contact carer",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}
          {{ hint({
            "text": "We will have to contact whoever has parental responsibility regarding this referral. Is that ok?",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}
          {{ radios({
            "idPrefix": "contact-carer",
            "name": "contact-carer",
            "items": [
          {
            "value": "Yes",
            "text": "Yes"
          },
          {
            "value": "No",
            "text": "No"
          }
        ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Save and continue"
        }) }}

      </form>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}



    </div>
  </div>

{% endblock %}
