{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <p>Step 9/10</p>

    <h2>Your referral details</h2>
      
      <form action="/check-your-answers" method="get">

      {% from 'textarea/macro.njk' import textarea %}

      {{ textarea({
        "name": "disabilities",
        "id": "disabilities",
        "label": {
          "text": "Do you have any disabilities or difficulties (diagnosed or under investigation)"
        },
        "hint": {
          "text": "Include more text here as a hint if necessary"
        }
      }) }}

       {{ textarea({
          "name": "professionals",
          "id": "professionals",
          "label": {
            "text": "Professionals currently involved:"
          },
          "hint": {
            "text": "Include more text here as a hint if necessary"
          }
        }) }}

        {{ textarea({
          "name": "services",
          "id": "services",
          "label": {
            "text": "What services have you currently accessed or previously accessed?"
          },
          "hint": {
            "text": "Include more text here as a hint if necessary"
          }
        }) }}

        {{ textarea({
          "name": "Referral",
          "id": "referral",
          "label": {
            "text": "What is the reason for the referral?"
          },
          "hint": {
            "text": "Include more text here as a hint if necessary"
          }
        }) }}

        {{ textarea({
          "name": "help",
          "id": "help",
          "label": {
            "text": "Has anything helped?"
          },
          "hint": {
            "text": "Include more text here as a hint if necessary"
          }
        }) }}

        <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>

      </form>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
