{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% from 'radios/macro.njk' import radios %}

        {{ radios({
          "idPrefix": "example",
          "name": "example",
          "fieldset": {
            "legend": {
              "text": "Are you over 18",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
          }) }}

      {{ button({
        "href": "/yp-support-needs",
        "text": "Save and continue"
      }) }}

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
