{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Your doctor</h2>

      <p>Enter your postcode below to help us find your doctor's surgery.

      <form action="/templates/check-your-answers" method="post">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "Enter your postcode",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "id": "example-heading",
          "name": "example-heading"
        }) }}

      </form>

      {% from 'button/macro.njk' import button %}

      {{ button({
        "href": "/yp-registered-doctors-list",
        "text": "Search doctors"
      }) }}

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
